.thirdcat-cont, .thirdcat-cont-a{
  gap: 30px;
}
.thirdcat-cont>div, .thirdcat-cont-a>div{
    width: 600px;
    height: 350px;
    color: white;
    font-family: var(--poppins);
}



.thirdcat-card1{
    background: url('../../assets/pbackgroud1.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0px 0 30px;
}

.thirdcat-card2{
    background: url('../../assets/pbackgroud2.png');
    background-position: center;
    padding: 100px 0px 0 30px;
    background-repeat: no-repeat;
}

.thirdcat-card3{
    background: url('../../assets/recyclerbg.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0px 0 30px;
}


.register{
    color: var(--color-green);
    font-weight: 500;
}

.register:hover{
    background-color: transparent !important;
    color: white;
    border: 2px solid white;
}

@media screen and (max-width: 1300px) {
    .thirdcat-cont>div{
        width: 400px;
    }
      }

@media screen and (max-width: 1100px) {
    .thirdcat-cont-a>div{
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .thirdcat-cont{
       flex-direction: column;
       align-items: center;
      }

      .thirdcat-cont>div{
        width: 100%;

    }
    

        }
@media screen and (max-width: 800px) {
            .thirdcat-cont-a>div{
                width: 300px;
            }
        }
            
@media screen and (max-width: 600px) {
            .thirdcat-cont-a>div{
                width: 100%;
            }
        }       
                