
.firstcat-innerwrapper{
    display: flex;
    justify-content:center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.firstcat-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 210px;
    background: #D5FADB;
    ;
    border-radius: 20px;
    position: relative;
  
}

.firstcat-img{
margin-top: -150px;
}

.firstcat-div{
    background-color: var(--color-light);
    padding: 20px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    border-top-right-radius: 30px;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
}

.firstcat-steps div+div:nth-child(even){
    padding: 25px;
}

@media screen and (max-width: 1350px) {
    .firstcat-innerwrapper{
        gap: 30px;
        row-gap: 80px;

    }
}






